In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("reviews_data.csv")

In [3]:
df.head(10)

,name,location,Date,Rating,Review,Image_Links
0,Helen,"Wichita Falls, TX","Reviewed Sept. 13, 2023",5.0,Amber and LaDonna at the Starbucks on Southwes...,['No Images']
1,Courtney,"Apopka, FL","Reviewed July 16, 2023",5.0,** at the Starbucks by the fire station on 436...,['No Images']
2,Daynelle,"Cranberry Twp, PA","Reviewed July 5, 2023",5.0,I just wanted to go out of my way to recognize...,['https://media.consumeraffairs.com/files/cach...
3,Taylor,"Seattle, WA","Reviewed May 26, 2023",5.0,Me and my friend were at Starbucks and my card...,['No Images']
4,Tenessa,"Gresham, OR","Reviewed Jan. 22, 2023",5.0,I’m on this kick of drinking 5 cups of warm wa...,['https://media.consumeraffairs.com/files/cach...
5,Alyssa,"Sunnyvale, TX","Reviewed Sept. 14, 2023",1.0,We had to correct them on our order 3 times. T...,['No Images']
6,ken,"Spring Hill, FL","Reviewed Sept. 8, 2023",1.0,I have tried Starbucks several different times...,['No Images']
7,Nikki,"Asheville, NC","Reviewed Aug. 25, 2023",1.0,Starbucks near me just launched new fall foods...,['No Images']
8,Alex,"Reisterstown, MD","Reviewed Aug. 5, 2023",1.0,"I ordered online for the Reisterstown Rd, St T...",['No Images']
9,Sunny,"Zionville, Other","Reviewed Aug. 4, 2023",1.0,Staff at the Smythe St. Superstore location in...,['No Images']

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         850 non-null    object
 1   location     850 non-null    object
 2   Date         850 non-null    object
 3   Rating       705 non-null    float64
 4   Review       850 non-null    object
 5   Image_Links  850 non-null    object
dtypes: float64(1), object(5)
memory usage: 40.0+ KB

In [5]:
df = df.drop(columns="Image_Links")

In [6]:
df.head(-10)

,name,location,Date,Rating,Review
0,Helen,"Wichita Falls, TX","Reviewed Sept. 13, 2023",5.0,Amber and LaDonna at the Starbucks on Southwes...
1,Courtney,"Apopka, FL","Reviewed July 16, 2023",5.0,** at the Starbucks by the fire station on 436...
2,Daynelle,"Cranberry Twp, PA","Reviewed July 5, 2023",5.0,I just wanted to go out of my way to recognize...
3,Taylor,"Seattle, WA","Reviewed May 26, 2023",5.0,Me and my friend were at Starbucks and my card...
4,Tenessa,"Gresham, OR","Reviewed Jan. 22, 2023",5.0,I’m on this kick of drinking 5 cups of warm wa...
...,...,...,...,...,...
835,C.,"Allston, MA","Reviewed May 31, 2008",NaN,For the past several years I've stopped in to ...
836,Lynette,"Los Angeles, CA","Reviewed May 13, 2008",NaN,Found a hair inside of a rice crispy square.
837,Tenzin,"Woodside, NY","Reviewed March 17, 2008",NaN,On 3/15/08 I was at the Starbucks on 42nd stre...
838,Rob,"Las Vegas, NV","Reviewed Feb. 18, 2008",NaN,No Review Text
839,Michele,"Santa Clara, CA","Reviewed Jan. 21, 2008",NaN,No Review Text

In [8]:
df.isna().sum()

name          0
location      0
Date          0
Rating      145
Review        0
dtype: int64

In [ ]:
# Data Cleaning: 
# 1. Need to solve date time problem
# 2. Need to solve null data on Rating columns
# 3. Need to verify "No Review Text" on Review Column