In [32]:
import pandas as pd
import numpy as np
import re
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans

In [4]:
# First, let's take a first look at the dataset

In [5]:
df = pd.read_csv("reviews_data.csv")

In [6]:
df.head(10)

,name,location,Date,Rating,Review,Image_Links
0,Helen,"Wichita Falls, TX","Reviewed Sept. 13, 2023",5.0,Amber and LaDonna at the Starbucks on Southwes...,['No Images']
1,Courtney,"Apopka, FL","Reviewed July 16, 2023",5.0,** at the Starbucks by the fire station on 436...,['No Images']
2,Daynelle,"Cranberry Twp, PA","Reviewed July 5, 2023",5.0,I just wanted to go out of my way to recognize...,['https://media.consumeraffairs.com/files/cach...
3,Taylor,"Seattle, WA","Reviewed May 26, 2023",5.0,Me and my friend were at Starbucks and my card...,['No Images']
4,Tenessa,"Gresham, OR","Reviewed Jan. 22, 2023",5.0,Iâ€™m on this kick of drinking 5 cups of warm wa...,['https://media.consumeraffairs.com/files/cach...
5,Alyssa,"Sunnyvale, TX","Reviewed Sept. 14, 2023",1.0,We had to correct them on our order 3 times. T...,['No Images']
6,ken,"Spring Hill, FL","Reviewed Sept. 8, 2023",1.0,I have tried Starbucks several different times...,['No Images']
7,Nikki,"Asheville, NC","Reviewed Aug. 25, 2023",1.0,Starbucks near me just launched new fall foods...,['No Images']
8,Alex,"Reisterstown, MD","Reviewed Aug. 5, 2023",1.0,"I ordered online for the Reisterstown Rd, St T...",['No Images']
9,Sunny,"Zionville, Other","Reviewed Aug. 4, 2023",1.0,Staff at the Smythe St. Superstore location in...,['No Images']

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         850 non-null    object
 1   location     850 non-null    object
 2   Date         850 non-null    object
 3   Rating       705 non-null    float64
 4   Review       850 non-null    object
 5   Image_Links  850 non-null    object
dtypes: float64(1), object(5)
memory usage: 40.0+ KB

In [8]:
df = df.drop(columns="Image_Links")

In [9]:
df.head(-10)

,name,location,Date,Rating,Review
0,Helen,"Wichita Falls, TX","Reviewed Sept. 13, 2023",5.0,Amber and LaDonna at the Starbucks on Southwes...
1,Courtney,"Apopka, FL","Reviewed July 16, 2023",5.0,** at the Starbucks by the fire station on 436...
2,Daynelle,"Cranberry Twp, PA","Reviewed July 5, 2023",5.0,I just wanted to go out of my way to recognize...
3,Taylor,"Seattle, WA","Reviewed May 26, 2023",5.0,Me and my friend were at Starbucks and my card...
4,Tenessa,"Gresham, OR","Reviewed Jan. 22, 2023",5.0,Iâ€™m on this kick of drinking 5 cups of warm wa...
...,...,...,...,...,...
835,C.,"Allston, MA","Reviewed May 31, 2008",NaN,For the past several years I've stopped in to ...
836,Lynette,"Los Angeles, CA","Reviewed May 13, 2008",NaN,Found a hair inside of a rice crispy square.
837,Tenzin,"Woodside, NY","Reviewed March 17, 2008",NaN,On 3/15/08 I was at the Starbucks on 42nd stre...
838,Rob,"Las Vegas, NV","Reviewed Feb. 18, 2008",NaN,No Review Text
839,Michele,"Santa Clara, CA","Reviewed Jan. 21, 2008",NaN,No Review Text

In [10]:
df.isna().sum()

name          0
location      0
Date          0
Rating      145
Review        0
dtype: int64

In [11]:
'''
    The main focus analysis: 
    1. Sentiment analysis from "Review Text":
        Step one: Data Cleaning. Need to verify "No Review Text" on Review Column
        Step two: Apply sentiment analysis
        


Data Cleaning issues for more analysis:
    2. Need to solve null data on Rating columns (This is interesting if I want to understand the average rating or the region in which people are giving Starbucks the most excellent ratings)
    
    3. Need to solve datetime problem (This will be necessary if I want to understand the evolution of feedback over the years)

'''

'\n    The main focus analysis: \n    1. Sentiment analysis from "Review Text":\n        Step one: Data Cleaning. Need to verify "No Review Text" on Review Column\n        Step two: Apply sentiment analysis\n\n\n\nData Cleaning issues for more analysis:\n    2. Need to solve null data on Rating columns (This is interesting if I want to understand the average rating or the region in which people are giving Starbucks the most excellent ratings)\n\n    3. Need to solve datetime problem (This will be necessary if I want to understand the evolution of feedback over the years)\n\n'

In [12]:
# Cleaning "No Review Text" column. I will need those comments, so let's drop the rows with "No Review Text"
df_filtered = df[df["Review"] == "No Review Text"]
len(df_filtered)

37

In [13]:
df = df[df["Review"] != "No Review Text"]

In [14]:
df.head(-10)

,name,location,Date,Rating,Review
0,Helen,"Wichita Falls, TX","Reviewed Sept. 13, 2023",5.0,Amber and LaDonna at the Starbucks on Southwes...
1,Courtney,"Apopka, FL","Reviewed July 16, 2023",5.0,** at the Starbucks by the fire station on 436...
2,Daynelle,"Cranberry Twp, PA","Reviewed July 5, 2023",5.0,I just wanted to go out of my way to recognize...
3,Taylor,"Seattle, WA","Reviewed May 26, 2023",5.0,Me and my friend were at Starbucks and my card...
4,Tenessa,"Gresham, OR","Reviewed Jan. 22, 2023",5.0,Iâ€™m on this kick of drinking 5 cups of warm wa...
...,...,...,...,...,...
829,Misty,"Lincoln, CA","Reviewed July 17, 2008",NaN,I then decided to call and ask her for her ma...
830,Mike,"New York, NY","Reviewed July 14, 2008",NaN,Walked into buy a cup of coffee today and the ...
831,Raudys,"Miami Beach, FL","Reviewed July 13, 2008",NaN,"Ordered two dopio machiato coffees, however I ..."
832,Lou,"Hackesnack, NJ","Reviewed June 16, 2008",NaN,I stop at this Starbucks quite often. They ha...
833,Troy,"Denver, CO","Reviewed June 14, 2008",NaN,i have been a starbucks customer for ten years...

In [20]:
# Ok! first cleaning problem solved. I have 803 rows with reviews on it. For my first purpose: Sentiment Analysis
text = df["Review"]

In [37]:
# Preprocessing data for trainning:

def clean_review(text):
    if pd.isnull(text):
        return ''
    text = text.lower()  # lower case
    text = re.sub(r'http\S+', '', text)  # remove links
    text = re.sub(r'@\w+', '', text)  # remove mentions
    text = re.sub(r'#\w+', '', text)  # remove hashtags
    text = re.sub(r'[^a-zÃ¡Ã©Ã­Ã³ÃºÃ¢ÃªÃ®Ã´Ã»Ã£ÃµÃ§\s]', '', text)  # remove simbols, ponctuation and emojis
    text = re.sub(r'\s+', ' ', text)  # removes a lot of whitespace
    return text.strip()

# Aplica a funÃ§Ã£o Ã  coluna Review
df['review_cleaned'] = df['Review'].apply(clean_review)

# Exibe as primeiras linhas
print(df[['Review', 'review_limpo']].head())

                                              Review  \
0  Amber and LaDonna at the Starbucks on Southwes...
1  ** at the Starbucks by the fire station on 436...
2  I just wanted to go out of my way to recognize...
3  Me and my friend were at Starbucks and my card...
4  Iâ€™m on this kick of drinking 5 cups of warm wa...

                                        review_limpo
0  amber and ladonna at the starbucks on southwes...
1  at the starbucks by the fire station on in alt...
2  i just wanted to go out of my way to recognize...
3  me and my friend were at starbucks and my card...
4  im on this kick of drinking cups of warm water...

In [38]:
# Vectorizing
vetor = TfidfVectorizer(stop_words='english', max_features=5000)
X = vetor.fit_transform(df['review_limpo'].dropna())

# Aplica clustering
kmeans = KMeans(n_clusters=2, random_state=42)
kmeans.fit(X)

# Adiciona cluster no DataFrame
df['cluster'] = -1
df.loc[df['review_limpo'].notna(), 'cluster'] = kmeans.labels_

In [46]:
df

,name,location,Date,Rating,Review,review_cleaned,sentimento,cluster
0,Helen,"Wichita Falls, TX","Reviewed Sept. 13, 2023",5.0,Amber and LaDonna at the Starbucks on Southwes...,amber and ladonna at the starbucks on southwes...,positivo,1
1,Courtney,"Apopka, FL","Reviewed July 16, 2023",5.0,** at the Starbucks by the fire station on 436...,at the starbucks by the fire station on in alt...,positivo,0
2,Daynelle,"Cranberry Twp, PA","Reviewed July 5, 2023",5.0,I just wanted to go out of my way to recognize...,i just wanted to go out of my way to recognize...,positivo,1
3,Taylor,"Seattle, WA","Reviewed May 26, 2023",5.0,Me and my friend were at Starbucks and my card...,me and my friend were at starbucks and my card...,positivo,1
4,Tenessa,"Gresham, OR","Reviewed Jan. 22, 2023",5.0,Iâ€™m on this kick of drinking 5 cups of warm wa...,im on this kick of drinking cups of warm water...,positivo,1
...,...,...,...,...,...,...,...,...
841,Mary,"Hillsboro, OR","Reviewed Dec. 16, 2007",NaN,"When using my debit card, how much and for how...",when using my debit card how much and for how ...,None,1
842,Angie,"Innsbruck, OR","Reviewed Sept. 17, 2007",NaN,I just bought a starbucks thermos mug about a ...,i just bought a starbucks thermos mug about a ...,None,1
844,Sabine,"Redondo Beach, CA","Reviewed Dec. 19, 2006",NaN,I'm (was) a regular customer who ordered a lat...,im was a regular customer who ordered a latte ...,None,1
845,Becky,"Agoura Hills, CA","Reviewed July 13, 2006",NaN,I ordered two venti frappacino's without whipp...,i ordered two venti frappacinos without whippe...,None,1
847,Erik,"Valley Village, CA","Reviewed Nov. 5, 2004",NaN,"DEMANDED TIPS FROM ME, THEN MADE ME WAIT UNTIL...",demanded tips from me then made me wait until ...,None,1

In [ ]:
pd.set_option('display.max_colwidth', None)

print("\nðŸŸ¢ Exemplos do Cluster 0:")
print(df[df['cluster'] == 0]['review_cleaned'].head())

print("\nðŸ”´ Exemplos do Cluster 1:")
print(df[df['cluster'] == 1]['review_cleaned'].head())

ðŸŸ¢ Exemplos do Cluster 0:
1                                                                                                                                           at the starbucks by the fire station on in altamonte springs fl made my day and finally helped me figure out the way to make my drink so id love it she took time out to talk to me for minutes to make my experience better than what im used to it was much appreciated ive had bad experiences one after another at the starbucks thats closest to me in my work building with my drinks not being great along with not great customer service from specific baristas niko was refreshing to speak to and pleasant the drink was perfect store
6                                                                                                                                                                                                                                                                                                                                                                                                                                                    i have tried starbucks several different times in different locations just in case it was just the one store but its not if you like coffee that taste like dirt scooped off the ground at a garbage dump then this is the place for you
12                                                                                                                                                                                                                                                                                insulted by customer service representative as i called to complain instead of acknowledge they have issues and they are providing low quality she called me suspicious even though i spend at least average dollars a day was so upset and i decided to close the account after being with them for more than yrs company that doesnt appreciate feedback soon to fall especially that it lost its quality
20                             this past sunday we went through the drive in and bought double smoked breakfast sandwiches expecting it to have back and gruyere cheese and an egg they did not we got buns pasted together with unidentifiable something we were on the road somewhere or i would have turned around and returned them i know their food comes pre packaged and only warmed at the store so i fault the company for falsely selling food that does not meet the picture on display at the ordering kiosk just how many millions does starbucks need to make on a daily basis their food is already overpriced i mean how much does egg small slices of bacon and cheese cost
26    me and my special needs son need to wait at a starbucks for an access van the store has only teeny tiny tables where two people can not sit at as the table is far too small and round so the tables can not be joined the staff told me starbucks is making it extremely uncomfortable for a family to eat inside and difficult for couples people with special needs basically everyone the table is a little bigger than a stool i was told the staff and many complained though corporate office stated to them star bucks is not a family friendly place not a place for a group of people to meet they said the corporate office said despite the complaints the tiny tables stay
Name: review_cleaned, dtype: object

ðŸ”´ Exemplos do Cluster 1:
0                                                                                           amber and ladonna at the starbucks on southwest parkway are always so warm and welcoming there is always a smile in their voice when they greet you at the drivethru and their customer service is always spoton they always get my order right and with a smile i would actually give them more than stars if they were available
2                                                                      i just wanted to go out of my way to recognize a starbucks employee billy at the franklin park location i was running late to work placed an order at the wrong location and not only did he make my order with a smile he made it within seconds thank you soo much i was having a bad morning and people like you just make this world a better place
3    me and my friend were at starbucks and my card didnt work thankful the worker there paid for our drinks and was very nice about it it didnt seem to bother him that he paid for our drinks this made my day but made me look like a fool because my card didnt work all thanks to dillon at shoreline wa in safeway thank you so much dillon for the help support and kindness i rate this if i could but other than that
4                    im on this kick of drinking cups of warm water i work for instacart right now and every location of starbucks i was given free hot water because i asked for it without being charged i really appreciate starbucks for giving me the opportunity to do such thing thats why i give them five stars they fully have my support theyre super nice and professional and the coffee is great go to starbucks
5                                                                                             we had to correct them on our order times they never got it right then the manager came over to us and said we made her employee uncomfortable because we were trying to correct our order the manager tried was racist against my stepmom chinese taking over her but when i would talk she would stop talking and listen to me
Name: review_cleaned, dtype: object